<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasión por el Voley</title>

</head>

<body>


    <!---Menu desplegable-->
    <div>
        <nav>
            <!---Logo-->
            <section>
                <button>
                    <svg>
                        <path>


                        </path>
                    </svg>
                </button>
            </section>
            <!---Fin de mi Logo-->
            <!---Botones de Navegación-->
            <div>
                <button>

                </button>
                <button>

                </button>
                <button>

                </button>
            </div>
            <!---Fin de Botones de Navegación-->
        </nav>

    </div>
    <!---Fin Menu desplegavble-->




</body>

</html>